html,
body {
  padding: 0px;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(211, 211, 211);

}

.main {
  width: 600px;
  height: auto;
  overflow: hidden;
  line-height: 1;
  background-color: white;
  min-height: 100vh;
}

header .sm_head {
  font-size: 12.5px;
  margin-top: 15px;
  color: #000000;
  opacity: 0.4;
}

.md_head {
  text-transform: uppercase;
  font-size: 9px;
  margin-top: 9px;
  letter-spacing: 13px;
  background: -webkit-linear-gradient(-90deg, #9174b469 0%, #705899 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .bg_head {
  margin-top: 6px;
  margin-bottom: 10px;
  margin-right: 6px;
}

.banner {
  padding-top: 4px;
  padding-left: 40px;
  padding-right: 38px;
}

.banner .banner-dp {
  margin-bottom: -61px;
  margin-left: -10px;
}

.banner .title {
  font-size: 33px;
  letter-spacing: 0.8px;
  font-weight: 600;
  color: #2FC3C7;
  margin-left: 29px;
  margin-top: 70px;
}

.banner .title span {
  color: #9174B4;
}

.main .desc {
  font-size: 12px;
  line-height: 1.45;
  letter-spacing: 0.05px;
  color: #404040;
}


.section2 {
  background-color: #F6FEFF;
  background-color: #cbf9ff33;
  padding-left: 38px;
  padding-top: 21px;
  padding-bottom: 10px;
}

.section2 h3 {
  position: relative;
  width: auto;
  margin-right: auto;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 1;
  padding-right: 25px;
  padding-bottom: 16px;
  margin-bottom: 15px;
  margin-top: 4px;
  background: -webkit-linear-gradient(0deg, #39BBC7 0%, #9473CC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section2 h3::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  border-radius: 3px;
  left: -1px;
  bottom: 0;
  background: -webkit-linear-gradient(0deg, #39BBC7 0%, #9473CC 100%);
}

.section2 .desc {
  width: 210px;
  line-height: 1.5;
  margin: 0;
}


.section3 {
  padding-left: 24px;
  padding-top: 41px;
}

.section3 h6 {
  color: #9174B4;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  margin-bottom: 16px;
  margin-right: 20px;
  letter-spacing: 0.4px;
}

.section3 .contents {
  margin-left: 22px;
  padding-top: 4px;
}

.section3 .list_wrpr {
  width: 300px;
}

.section3 .list_wrpr .items {
  padding-bottom: 13px;
  padding-left: 26px;
  font-size: 12px;
  position: relative;
}

.section3 .list_wrpr .items::before {
  position: absolute;
  content: '';
  width: 3px;
  left: 3px;
  top: 8px;
  bottom: -8px;
  background-color: #d9d9d9;
}

.section3 .list_wrpr .items:last-child::before {
  display: none;
}

.section3 .list_wrpr .items::after {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 9px;
  left: 0px;
  top: 3px;
  background-color: #2FC3C7;
}

.section3 .list_wrpr .items:nth-child(even):after {
  background-color: #9E46C1;
}

.section3 .desc_padd {
  padding-left: 16px;
  padding-top: 8px;
  padding-right: 40px;
  padding-bottom: 20px;
  z-index: 1;
}

.section3 .desc_padd::before {
  position: absolute;
  content: '';
  width: 60px;
  height: 110px;
  border-radius: 0 60px 60px 0;
  background-color: #2FC3C7;
  opacity: 0.3;
  left: -24px;
  top: -45px;
  z-index: -1;
}

.section4 {
  background-image: url(images/createrBG.svg);
  background-repeat: no-repeat;
  color: white;
  padding-top: 26px;
}

.section4 .title {
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.section4 .title span {
  margin: 0 1px;
}

.section4 .desc {
  color: white;
  font-size: 10px;
  letter-spacing: 0;
}

.section4 .people {
  justify-content: space-between;
  padding: 0px 24px;
  margin-bottom: 20px;
}

.section4 .person {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.section4 .person .text1 {
  font-size: 11px;
  font-weight: 600;
}

.section4 .person .text2 {
  font-size: 10px;
  font-weight: 600;
  margin-top: 4px;
}

.section4 .person .text3,
.section4 .person .text4 {
  font-size: 7px;
  margin-top: 2px;
}

.section4 .achivements {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 19px;
  padding-bottom: 20px;
}

.section4 .achivements .text1 {
  font-size: 16px;
  line-height: 1.05;
  width: 143px;
}

.section4 .achivements .text2 {
  font-size: 10px;
  line-height: 1.6;
  width: calc(100% - 143px);
}

.section5 {
  background-color: #000000;
  padding-top: 25px;
  padding-left: 19px;
}

/* .section5 .box1 {
  border: 4px solid #2FC3C7;
  border-image: -webkit-linear-gradient(245deg, #6E8CC9 0%, #2FC3C7 100%) 1;
  border-radius: 24px;
  background-color: #9174b440;
  width: 100%;
  position: relative;
  padding: 50px;
  overflow: hidden;
} */

.section5 .contents {
  width: 305px;
  left: 45px;
  top: 72px;
}

.section5 h3 {
  position: relative;
  width: auto;
  margin-right: auto;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 1;
  padding-bottom: 13px;
  margin-bottom: 14px;
  margin-top: 4px;
  background: -webkit-linear-gradient(180deg, #6E8CC9 0%, #2FC3C7 30%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section5 h3::after {
  position: absolute;
  content: '';
  height: 3px;
  border-radius: 3px;
  left: -1px;
  right: 37px;
  bottom: 0;
  background: -webkit-linear-gradient(180deg, #6E8CC9 0%, #2FC3C7 30%);
}

.section5 .next_now h3 {
  padding-bottom: 15px;
}

.section5 .next_now h3::after {
  right: 0px;
  background: -webkit-linear-gradient(180deg, #6E8CC9 0%, #2FC3C7 100%);
}

.section5 .desc {
  color: white;
}

.section5 .box2 {
  background-color: #9473CC;
  color: white;
  padding: 17px 30px 15px;
  border-radius: 20px;
  width: 450px;
  position: relative;
  margin-left: 56px;
  top: -72px;
}

.section5 .box2 .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}

.section5 .box2 .desc {
  font-size: 9px;
  text-align: center;
  line-height: 14px;
  margin-bottom: 0;
}

.section5 .box2 .arrow {
  right: -35px;
  top: 43px;
}

.section5 .box2 .arrow img {
  margin-bottom: -41px
}

.section5 .next_now {
  width: 100%;
  position: relative;
  padding: 20px 23px;
}

.section5 .next_now h6 {
  color: #9473CC;
  margin-top: 4px;
  font-weight: 600;
  margin-bottom: 27px;
}

.section5 .next_now .left_desc {
  width: 171px;
  padding-right: 10px;
  font-style: italic;
  letter-spacing: 0.06px;
  line-height: 1.5;
  color: #6F8DC8;
}

.section5 .next_now .right_desc {
  border-left: 1px solid white;
  padding-left: 43px;
  width: calc(100% - 171px);
  letter-spacing: 0.06px;
  line-height: 1.5;
}

.section5 .unquote {
  width: 559px;
  margin: 17px 0 -108px 2px;
  padding: 17px 34px 24px;
  border-radius: 20px;
  overflow: hidden;
  background-image: url(images/section5UnQuote.png);
  background-repeat: no-repeat;
}

.section5 .unquote .title {
  text-align: center;
}

.section5 .unquote .title .big {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 21px;
  margin-left: 50px;
  text-align: center;
  background: -webkit-linear-gradient(-90deg, #ffffff 15%, transparent 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.25px #ffffff;
}

.section5 .unquote .title .small {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 13px;
  margin-left: 32px;
  margin-top: -24px;
  text-align: center;
  color: #6F8DC8;
}

.section5 .unquote .innerbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ffffff;
  padding: 20px 13px;
  margin-top: 40px;
  text-align: center;
}

.section5 .unquote .innerbox .content1 {
  font-size: 10px;
  color: #9174B4;
  margin: 7px 0 13px;
  font-weight: 600;
}

.section5 .unquote .innerbox .content2 {
  border-top: 1px solid #6F8DC8;
  border-bottom: 1px solid #6F8DC8;
  padding: 13px 0;
  color: #404040;
}

.section6 .content {
  top: 132px;
  left: 40px;
  font-weight: 600;
}

.section6 h3 {
  position: relative;
  width: auto;
  margin-right: auto;
  font-weight: 600;
  letter-spacing: -0.7px;
  line-height: 1;
  padding-bottom: 13px;
  margin-bottom: 18px;
  margin-top: 4px;
  background: -webkit-linear-gradient(180deg, #6E8CC9 0%, #2FC3C7 30%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section6 h3::after {
  position: absolute;
  content: '';
  height: 3px;
  border-radius: 3px;
  left: 0px;
  right: 0px;
  bottom: 0;
  background: -webkit-linear-gradient(180deg, #6E8CC9 0%, #2FC3C7 30%);
}

.section6 .text1 {
  font-size: 14px;
  color: #ffffff;
}

footer {
  padding: 7px 47px;
  background-color: #ffffff;
}

footer .social {
  border-bottom: 1px solid #CECECE;
  padding: 15px 0 16px;
}

footer .social>span {
  margin-left: 17px;
  font-size: 18px;
  font-weight: 900;
  margin-right: 14px;
}

footer .social .follow {
  text-wrap: nowrap;
  font-size: 9px;
  margin-right: 10px;
  align-items: center;
  width: 71px;
}

footer .social .follow img {
  margin: 0 4px;
}

footer .copyright {
  padding: 18px 0;
  text-align: center;
  font-size: 10px;
}